= turbo_frame_tag community do
  %div.community.mt-4.pt-4{style: "position: relative"}
    .d-flex.border-bottom
      - if community.user.avatar.attached?
        = link_to user_path(community.user) do
          = image_tag community.user.avatar, class: 'user-avatar'
      - else
        = link_to user_path(community.user) do
          = image_tag 'default_avatar.png', class: 'user-avatar'   
      %a.community.w-100.text-muted{style: "text-decoration: none","aria-current" => "true", href: community_path(community)}     
        .pb-3.mb-0.small
          .d-flex.justify-content-between.align-items-center
            %big.user-name.text-gray-dark.pb-2{style: "font-size: 0.9rem"}
              @#{community.user.user_name}
      
          %strong.community-name.d-block.text-gray-dark{style: "font-size: 1.3rem"}
            = community.community_name
          .community-items
            - community.community_tags.each do |tag|
              %small.text-right.badge.bg-secondary
                = "#{tag.name} (#{tag.taggings_count})"
            %small.d-block.text-gray-dark.text-end.px-1
              = "#{community.posts.size} posts"
              %br
              = "#{community.posting_users.distinct.count} users"
              %br
              = l community.created_at
    = render 'favorite_communities/favorite_communities', community: community

