.col-lg-8
  - if @communities.present? 
    %form
      .form-control.w-auto.p-3
        = search_form_for @search do |f| 
          -# `カラム名_cont`=カラムに対してLIKEを使った曖昧一致検索
          -# `カラム名_eq`  =カラムに対して完全一致検索
          = f.label :community_name_cont, 'find community'
          = f.search_field :community_name_cont 
          = f.submit    
    =turbo_frame_tag "communities" do
      = sort_link(@search, :created_at)
      - @communities.each do |community|
        .list-group.list-group-flush
          %a.list-group-item.list-group-item-action.d-flex.gap-3.py-3{"aria-current" => "true", href: community_path(community)}
            %img.rounded-circle.flex-shrink-0{:alt => "twbs", :height => "32", :src => "https://github.com/twbs.png", :width => "32"}/
            .d-flex.gap-2.w-100.justify-content-between
              %div
                %h6.mb-0= community.community_name
                %p.mb-0.opacity-75 tags tags tags
              %small.opacity-50.text-nowrap= community.created_at