= turbo_frame_tag :new_post do
  .new_post_form.shadow
    = simple_form_for @post, as: :post, url: community_posts_path(@community) do |f|
      .row
        .col-12.col-md-9
          .input-group
            = f.input :content, input_html: { class: 'form-control' }, required: false, label: false, placeholder: "「#{@community.community_name}」への投稿を入力してくだい..."
        .col-12.col-md-3
          .row
            .col-6.col-md-12.order-md-2.mt-3.mb-md-0
              %a{href: cancel_community_posts_path, class: 'btn btn-cancel w-100', data: {turbo_stream: true}}
                キャンセル
            .col-6.col-md-12.order-md-1.mt-3.mb-md-0
              = f.submit '投稿する', class: 'btn btn-post w-100',input_html: {rows: 10}
