.prifiles.mt-5
  - if @user.profile.job_title.present?
    .job-title.m-4
      %strong
        = icon_with_attr(:profile, :job_title)
      %br 
        = @user.profile.try(:job_title)
  - if @user.profile.years_of_experience.present?
    .years_of_experience.m-4
      %strong
        = icon_with_attr(:profile, :years_of_experience)
      %br 
        = @user.profile.try(:years_of_experience)
  - if @user.profile.company.present?
    .company.m-4
      %strong
        = icon_with_attr(:profile, :company)
      %br 
        = @user.profile.try(:company)
  - if @user.profile.birthday.present?
    .birthday.m-4
      %strong
        = icon_with_attr(:profile, :birthday)
      %br 
        = @user.profile.try(:birthday)
  - if @user.profile.biography.present?
    .biograpy.m-4
      %strong
        = icon_with_attr(:profile, :biography)
      %br 
        = @user.profile.try(:biography)