.sns-links.text-center
  = image_tag 'github.png', class: "sns-icon"
  = image_tag 'teratail.png', class: "sns-icon"
  = image_tag 'qiita.png', class: "sns-icon"
  = image_tag 'twitter.png', class: "sns-icon"
  = image_tag 'note.png', class: "sns-icon"
  = image_tag 'compass.png', class: "sns-icon"
  = image_tag 'zenn.png', class: "sns-icon"
  = image_tag 'doorkeeper.png', class: "sns-icon"
  -# = image_tag 'speaker.png', class: "sns-icon"