= turbo_stream.replace :relationship_button do
  = render partial: 'users/relationship_button' 
= turbo_stream.replace :relationship_count do
  = render partial: 'users/relationship_count'
= turbo_stream_flash