%main.container-fluid
  .profile-container
    .profile-card.mt-3.mb-4
      .card-body
        .row
          .col-md-7
            .row
              .col-sm-6
                .left-box.text-center
                  .align-items-center
                    - if @user.avatar.attached?
                      = image_tag @user.avatar, class: 'user-avatar'
                    - else
                      = image_tag 'default_avatar.png', class: 'user-avatar'
              .col-sm-6
                .left-box.text-center
                  %h4.card-title.font-weight-bold.text-center.my-4
                    = @user.user_name
                  = render 'relationship_button'
                  .d-flex.justify-content-center 
                    %div{"data-controller" => "modal"}
                      = render 'followings'
                      = render 'users/followings_modal'
                    %div{"data-controller" => "modal"}
                      = render 'followers'
                      = render 'users/followers_modal'

          .col-md-5
            = render 'sns_links'
        = render 'profiles'

        - if @user == current_user
          .text-center
            = link_to 'プロフィールを編集', profile_setting_path, class: 'btn zozo-button mt-5 w-75'
            
        = render 'users/communities'
        .pagination-container.d-flex.mt-4
          = paginate @communities  
