%main.container
  .profile-container
    .row.mt-4
      .col-md-8.mb-3.profile-editor
        = simple_form_for @user, url: update_password_setting_path, html: { class: 'form-setting ', multipart: true }, method: :patch, data: {turbo: false} do |f|
          .mb-5
            = f.input :current_password, required: true, input_html: { class: 'form-control stylish-input' }
            - if @minimum_password_length
              %small
                .text-end
                  = "※#{@minimum_password_length}文字以上"
          .mb-5
            = f.input :password, autocomplete: (@successful_update ? "new-password" : "off"), required: true, input_html: { class: 'form-control stylish-input' }
            - if @minimum_password_length
              %small
                .text-end
                  = "※#{@minimum_password_length}文字以上"
          .mb-5
            = f.input :password_confirmation, required: true, input_html: { class: 'form-control stylish-input' }
            - if @minimum_password_length
              %small
                .text-end
                  = "※#{@minimum_password_length}文字以上"
          .text-center
            = f.button :submit, 'パスワードを再設定する', class: 'btn zozo-button'
      .col-md-4.mb-3
        = render 'link_list'
