%main.container
  .row  
    .col-lg-9
      .list-group.mt-2.pt-5
        .list-group-item.list-group-item-action.d-flex.gap-3.py-3{"aria-current" => "true", href: ""}
          %img.rounded-circle.flex-shrink-0{:alt => "twbs", :height => "32", :src => "https://github.com/twbs.png", :width => "32"}/
          .d-flex.gap-2.w-100.justify-content-between
            %div
              %h3.mb-0= @community.community_name
              - @community_tags.each do |tag|
                %small.text-right.badge.bg-secondary
                  = "#{tag.name} (#{tag.taggings_count})"
              %p.mb-0.opacity-75= "@#{@community.user.user_name}"
              %small.opacity-50.text-nowrap= @community.created_at
        -# = render "tags/edit_tags"
        
      - if @posts.present? 
        .d-flex.justify-content-end.mt-2.mx-2
          .dropstart
            %button.btn.custom-search-button.rounded{:type => "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
              search
            %ul.search-communities.dropdown-menu.shadow.p-3.mb-5.bg-white.rounded.custom-dropdown-menu
              %form
                = search_form_for @search, html: { class: "input-group custom-search-form" } do |f|
                  -# `カラム名_cont`=カラムに対してLIKEを使った曖昧一致検索
                  -# `カラム名_eq`  =カラムに対して完全一致検索
                  .d-flex{style: "width: 500px;"}
                    .input-group
                      = f.search_field :content_cont, class: 'form-control custom-search-input', placeholder: 'Search post...'
                    .input-group-append.mx-1
                      %button.btn.custom-search-submit{type: 'submit'}
                        %i.bi.bi-search

        = turbo_frame_tag "posts" do
          - @posts.each do |post|
            - if post.user == current_user
              .balloon_r
                .faceicon
                  %svg.bd-placeholder-img.flex-shrink-0.me-2.mt-1.rounded{:height => "32", :preserveaspectratio => "xMidYMid slice", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
                    %title 一般的なプレースホルダ画像
                    %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
                    %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
                  .d-flex 
                    = post.user.user_name
                .content
                  %pre.says.justify-content-end.text-break
                    = post.content
                  .small.text-end
                    = l post.created_at, format: "%y/%m/%d %H:%M"

            - else    
              .balloon_l
                .faceicon
                  %svg.bd-placeholder-img.flex-shrink-0.me-2.mt-1.rounded{:height => "32", :preserveaspectratio => "xMidYMid slice", :width => "32", :xmlns => "http://www.w3.org/2000/svg"}
                    %title 一般的なプレースホルダ画像
                    %rect{:fill => "#007bff", :height => "100%", :width => "100%"}
                    %text{:dy => ".3em", :fill => "#007bff", :x => "50%", :y => "50%"} 32x32
                  .d-flex 
                    = post.user.user_name
                .content
                  %pre.says.text-break
                    = post.content
                  -# %br
                  .text-start.small
                    = l post.created_at, format: "%y/%m/%d %H:%M"
      = render "communities/posts/new"
    .col-lg-3
      = render 'layouts/parts/side_menu'