.form-container.mb-4
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}, html: { class: 'form-center' } do |f|
    %h2.form-title.mb-4 アカウント作成
    = f.input :user_name, autofocus: true, autocomplete: "user_name", input_html: { class: 'form-control stylish-input mb-2' }
    = f.input :email, autofocus: true, autocomplete: "email", input_html: { class: 'form-control stylish-input mb-2' }
    = f.input :password, autocomplete: "new-password", required: true, input_html: { class: 'form-control stylish-input mb-2' }
    - if @minimum_password_length
      %small
        = "※#{@minimum_password_length}文字以上"
    -# = f.input :password_confirmation, autocomplete: "new-password", required: true, input_html: { class: 'form-control stylish-input' }
    .actions.d-flex.align-items-end.justify-content-between
      = render "users/shared/links"
      = f.button :submit, '作成する', class: 'btn btn-primary btn-block mt-4 zozo-button'
      
